.places {
  margin-top: 20px;
}

.names {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.images {
  display: block;
  width: 700px;
  height: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 650px;
}

.description {
  font-size: 20px;
  margin-top: 15px;
  text-align: left;

}

.description-page {
  text-align: center;
}

.buttons {
 text-align: center;
  margin-top: 50px;
}

.map {
  border: 1px solid white;
  background-color: steelblue;
  border-radius: 40px;
  width: 180px;
  height: 70px;
  font-size: 25px;
  margin-right: 50px;
  color: white;
}

.routes {
  border: 1px solid white;
  background-color: steelblue;
  border-radius: 40px;
  width: 200px;
  height: 70px;
  font-size: 25px;
  color: white;
}

.return {
  font-size: 20px;
  border: 1px solid white;
  background-color: white;
  width: 100px;
}

.return-link {
  text-decoration: none;
  color: black;
}

.routes-link {
  text-decoration: none;
  color: white;
}

.total-container {
  display: flex;
}
.container {
  display: flex;
  width: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
  margin-top: -70px;
}

.column {
  padding: 10px;
  width: 500px;
  height: 135px;
  border: 3px solid lightgray;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}


.plus {
  cursor: pointer;
  text-align: end;
  margin-top: 10px;
  font-size: 20px;
  color: gray;
  margin-right: 10px;
}

.path-name {
  font-size: 20px;
  margin-left: 10px;
  margin-top: -25px;
  font-weight: bold;
}

.path-distance,
.path-elevation,
.path-time {
  margin-left: 10px;
  margin-top: 10px;
  color: grey;
}

.search-container {
  text-align: center;
}

.search {
  width: 700px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 50px;
  padding-left:15px;
}

.search-element {
  width: 250px;
  border: 1px solid darkseagreen;
  border-radius: 10px;
  color:darkgray;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left:10px;
  padding-top: 0;
}

.link-field {
  text-decoration: none;
}

.search-field {
}

.my-completed {
 text-align: end;
}

.won {
  margin-top: -30px;
  font-size: 40px;
}

.icon-first-page {
  margin-top:-50px;
}

.completed-image {
  text-decoration: none;
}

.none-paths {
  text-align: center;
  font-size: 30px;
}

.stop {
  text-align:center;
  font-size: 70px;
}

.completed-routes {
  position: relative;
  background-position: 0 0;
}

.completed-routes-full {
  position: absolute;
  right: 5px;
  top: -10px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
.personal-column {
  padding: 10px;
  width: 500px;
  height: 135px;
  border: 3px solid lightgray;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

}

.container-path-name {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

label,
.comment {
  margin-left: 10px;
  margin-top: 10px;
  color: grey;
}

.my-path-time {
  width: 150px;
  height: 20px;
  border: 1px solid grey;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}
.recommendations {
  display: flex;
}

textarea {
  width: 250px;
  height: 50px;
  border: 1px solid grey;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 5px;
}


